/bin/
/target/
/build/
/out/

.classpath
.project
.settings/

.gradle/
**/build/
**/target/
!gradle/wrapper/gradle-wrapper.jar


velocity/bin/
velocity/.factorypath
repomix-output.xml
core/bin/
backends/**/bin/
dist/bin/
**/bin/
*.log

*.tmp
*.bak
*.swp
